{% extends 'base.html' %}
{% block content %}

        <section class="about-container">
            <h1>About Our Restaurant</h1>
            <p>
                Our restaurant has been serving the community for over 10 years, offering delicious meals made from the freshest ingredients. We believe in quality, hospitality, and creating a memorable dining experience for our guests.
            </p>
            <img src="{% static 'restaurant.jpg' %}" alt="Our Restaurant">
        </section>
{% endblock content %}