body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

header{
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

main{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1{
    color: #333;
}

h2{
    color: rgb(211, 56, 56);
}

p{
    color: #555;
    line-height: 1.6;
}

footer{
    text-align: center;
    padding: 15px;
    font-size: 14px;
    background-color: #222;
    color: white;
}